@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
body{
    margin: 0;
    font-family: 'Momo Signature', 'sans-serif';
}
.container{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: row;
}
.left-container{
    width: 50%;
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-container{
    width: 50%;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}