body{
    margin: 0;
}
#parent{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mychild{
    width: 100px;
    height: 100px;
    background-color: black;
}